---
layout: page
title: Blog
full_posts: 10
permalink: /blog/
---

<div id="post-index" class="span15">
  <div class="title">The Clover Blog</div>
  <h1 class="byline">Clover Development and Discussion blog</h1>

	<ul class="span12">
		{% for post in site.posts %}
			<li>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			{% if forloop.index < page.full_posts %}
				{% if post.excerpt %}
					{{ post.excerpt | read_more: post.url | simple_format }}<a href='{{post.url}}'>read more &raquo;</a>
				{% else %} 
					<div class='body'>{{post.content}}<a href='{{post.url}}#disqus_thread'>view comments &raquo;</a></div>
				{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>

</div>
